.fi {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fi-ar { background-image: url('../node_modules/flag-icons/flags/4x3/ar.svg'); }
.fi-at { background-image: url('../node_modules/flag-icons/flags/4x3/at.svg'); }
.fi-au { background-image: url('../node_modules/flag-icons/flags/4x3/au.svg'); }
.fi-bb { background-image: url('../node_modules/flag-icons/flags/4x3/bb.svg'); }
.fi-be { background-image: url('../node_modules/flag-icons/flags/4x3/be.svg'); }
.fi-br { background-image: url('../node_modules/flag-icons/flags/4x3/br.svg'); }
.fi-bs { background-image: url('../node_modules/flag-icons/flags/4x3/bs.svg'); }
.fi-bt { background-image: url('../node_modules/flag-icons/flags/4x3/bt.svg'); }
.fi-bw { background-image: url('../node_modules/flag-icons/flags/4x3/bw.svg'); }
.fi-bz { background-image: url('../node_modules/flag-icons/flags/4x3/bz.svg'); }
.fi-ca { background-image: url('../node_modules/flag-icons/flags/4x3/ca.svg'); }
.fi-ch { background-image: url('../node_modules/flag-icons/flags/4x3/ch.svg'); }
.fi-cl { background-image: url('../node_modules/flag-icons/flags/4x3/cl.svg'); }
.fi-co { background-image: url('../node_modules/flag-icons/flags/4x3/co.svg'); }
.fi-cr { background-image: url('../node_modules/flag-icons/flags/4x3/cr.svg'); }
.fi-cv { background-image: url('../node_modules/flag-icons/flags/4x3/cv.svg'); }
.fi-cz { background-image: url('../node_modules/flag-icons/flags/4x3/cz.svg'); }
.fi-de { background-image: url('../node_modules/flag-icons/flags/4x3/de.svg'); }
.fi-dk { background-image: url('../node_modules/flag-icons/flags/4x3/dk.svg'); }
.fi-do { background-image: url('../node_modules/flag-icons/flags/4x3/do.svg'); }
.fi-ec { background-image: url('../node_modules/flag-icons/flags/4x3/ec.svg'); }
.fi-ee { background-image: url('../node_modules/flag-icons/flags/4x3/ee.svg'); }
.fi-es { background-image: url('../node_modules/flag-icons/flags/4x3/es.svg'); }
.fi-fi { background-image: url('../node_modules/flag-icons/flags/4x3/fi.svg'); }
.fi-fj { background-image: url('../node_modules/flag-icons/flags/4x3/fj.svg'); }
.fi-fr { background-image: url('../node_modules/flag-icons/flags/4x3/fr.svg'); }
.fi-gh { background-image: url('../node_modules/flag-icons/flags/4x3/gh.svg'); }
.fi-gr { background-image: url('../node_modules/flag-icons/flags/4x3/gr.svg'); }
.fi-hr { background-image: url('../node_modules/flag-icons/flags/4x3/hr.svg'); }
.fi-id { background-image: url('../node_modules/flag-icons/flags/4x3/id.svg'); }
.fi-ie { background-image: url('../node_modules/flag-icons/flags/4x3/ie.svg'); }
.fi-is { background-image: url('../node_modules/flag-icons/flags/4x3/is.svg'); }
.fi-it { background-image: url('../node_modules/flag-icons/flags/4x3/it.svg'); }
.fi-jm { background-image: url('../node_modules/flag-icons/flags/4x3/jm.svg'); }
.fi-jp { background-image: url('../node_modules/flag-icons/flags/4x3/jp.svg'); }
.fi-ke { background-image: url('../node_modules/flag-icons/flags/4x3/ke.svg'); }
.fi-lk { background-image: url('../node_modules/flag-icons/flags/4x3/lk.svg'); }
.fi-lu { background-image: url('../node_modules/flag-icons/flags/4x3/lu.svg'); }
.fi-mt { background-image: url('../node_modules/flag-icons/flags/4x3/mt.svg'); }
.fi-mu { background-image: url('../node_modules/flag-icons/flags/4x3/mu.svg'); }
.fi-mx { background-image: url('../node_modules/flag-icons/flags/4x3/mx.svg'); }
.fi-my { background-image: url('../node_modules/flag-icons/flags/4x3/my.svg'); }
.fi-na { background-image: url('../node_modules/flag-icons/flags/4x3/na.svg'); }
.fi-nl { background-image: url('../node_modules/flag-icons/flags/4x3/nl.svg'); }
.fi-no { background-image: url('../node_modules/flag-icons/flags/4x3/no.svg'); }
.fi-np { background-image: url('../node_modules/flag-icons/flags/4x3/np.svg'); }
.fi-nz { background-image: url('../node_modules/flag-icons/flags/4x3/nz.svg'); }
.fi-pa { background-image: url('../node_modules/flag-icons/flags/4x3/pa.svg'); }
.fi-pe { background-image: url('../node_modules/flag-icons/flags/4x3/pe.svg'); }
.fi-ph { background-image: url('../node_modules/flag-icons/flags/4x3/ph.svg'); }
.fi-pt { background-image: url('../node_modules/flag-icons/flags/4x3/pt.svg'); }
.fi-py { background-image: url('../node_modules/flag-icons/flags/4x3/py.svg'); }
.fi-rw { background-image: url('../node_modules/flag-icons/flags/4x3/rw.svg'); }
.fi-sc { background-image: url('../node_modules/flag-icons/flags/4x3/sc.svg'); }
.fi-se { background-image: url('../node_modules/flag-icons/flags/4x3/se.svg'); }
.fi-sg { background-image: url('../node_modules/flag-icons/flags/4x3/sg.svg'); }
.fi-si { background-image: url('../node_modules/flag-icons/flags/4x3/si.svg'); }
.fi-sk { background-image: url('../node_modules/flag-icons/flags/4x3/sk.svg'); }
.fi-sn { background-image: url('../node_modules/flag-icons/flags/4x3/sn.svg'); }
.fi-th { background-image: url('../node_modules/flag-icons/flags/4x3/th.svg'); }
.fi-tz { background-image: url('../node_modules/flag-icons/flags/4x3/tz.svg'); }
.fi-un { background-image: url('../node_modules/flag-icons/flags/4x3/un.svg'); }
.fi-uy { background-image: url('../node_modules/flag-icons/flags/4x3/uy.svg'); }
.fi-ws { background-image: url('../node_modules/flag-icons/flags/4x3/ws.svg'); }
.fi-za { background-image: url('../node_modules/flag-icons/flags/4x3/za.svg'); }
